body{
	font-family: Georgia,MingLiU;
}
#heatmapArea{
	margin: 0 auto;
	margin-bottom: 1em;
	position: relative;

}
#websrc{
	overflow: scroll;
}

header{
	overflow: hidden;
	margin-bottom: 1em;
	padding: 0 1em;
	border-radius: 5px;
	background-color: #F2FBF2;
}

header div{
	float: left;
	color:#279337;
}
header p{
	margin-top: -16px;
	font-style: italic;
}

header a{
	float: right;
	margin-top: 22px;
	text-decoration: none;
	margin-right: 1em;
	border: solid 1px #969696;
	padding: 10px 20px;
	border-radius: 10px;
	background-color: #F0FDF2;
	color: #279337;
	box-shadow: inset 0 0 1px #FFF,0 2px 3px #C7C7C7;
}
header a:hover{
	color: #BE4805;
	text-shadow: 0 0 1px rgba(255, 255, 0, 0.5);
}

#description{
	color: #494949;
}

#result{
	margin-top: 1em;
	margin-bottom: 3em;
}